# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
#model folder
model/
# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode / IDE
.vscode/
.idea/

# Model cache / temp files
*.bin
*.ckpt

# Pip and Jupyter
pip-log.txt
*.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db

# Pyppeteer (if using requests-html)
.pyppeteer/

